/* You can add global styles to this file, and also import other style files */
/* $main : #232f3e; */

.bg-main{
    background-color: #232f3e;
}

a{
    cursor: pointer;
}

a:hover{
    text-decoration: none;
    color: #ffc107;
}

button {
    cursor: pointer;
}

section {
    min-width: 600px;
}