.list-item{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.list-group-item{
    height: 40.3px;
    font-size: 14px;
    padding-right: 0px;
}

.lazmall-container{
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 30px;
}

.row-just-for-you{
    padding-top: 20px;
}

.img{
    text-align: center;
}

.Categories{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.Lazmall{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.backgroup{
    background-color : #f5f5f5; 
}

.btn-white{
    width: 100%;
    border-radius: 30px;
    background-color: white;
}

.button-icon{
    display: flex;
    align-items: baseline;
    width: 32px;
    height: 32px;
}

.in-button-lazmail{
    display:flex;
    flex-direction: row;
}

.font-in-button{
    font-size: 18px;
    line-height: 32px;
    margin-left: 10px; 
}

.btn-white:hover{
    -webkit-box-shadow: 9px 9px 30px -5px rgba(0,0,0,0.7);
    -moz-box-shadow: 9px 9px 30px -5px rgba(0,0,0,0.7);
    box-shadow: 9px 9px 30px -5px rgba(0,0,0,0.7);
}